<div class="home-container">
  <h1>Bem-vindo ao sistema!</h1>
  <div class="buttons-container">
    <button (click)="navegarPara('/')" class="btn btn-primary">Home</button>
    <button (click)="navegarPara('/sobre')" class="btn btn-secondary">Sobre</button>
    <button (click)="navegarPara('/contato')" class="btn btn-tertiary">Contato</button>
    <button (click)="navegarPara('/galeria')" class="btn btn-gallery">Galeria</button>
    <button (click)="navegarPara('/login')" class="btn btn-login">Login</button>
    <button (click)="navegarPara('/produtos')" class="btn btn-produtos">Produtos</button>
    <button (click)="navegarPara('/noticias')" class="btn btn-noticias">Notícias</button>
    <button (click)="navegarPara('/dashboard')" class="btn btn-dashboard">Dashboard Admin</button>
    <button (click)="navegarPara('/cursos')" class="btn btn-cursos">Cursos</button>
    <button (click)="navegarPara('/professores')" class="btn btn-professores">Professores</button>
  </div>
</div>